.container {
    display: flex;
    margin: auto;
}

.column {
    width: 20%;
    margin: 100px;
    background-color: aquamarine;
}

body {
    font-family: Arial, Geneva, Helvetica, sans-serif;
    max-height: 1px;
}

#sellAmount {
    width: 50px;
}

span {
    margin: 1px 5px;
}