.container {
    display: flex;
    margin: auto;
}

.column {
    width: 20%;
    margin: 100px;
    background-color: aquamarine;
}

body {
    font-family: Arial, Geneva, Helvetica, sans-serif;
    max-height: 1px;
}

#sellAmount {
    width: 50px;
}

span {
    margin: 1px 5px;
}

.nav{
    margin: 5px;
}

button {
    margin: 5px;
}

.explanation {
    position: relative;
    display: inline-block;
}

.explanation::after {
    content: "(?)";
}

.explanation:hover {
    background-color: brown;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    padding: 5px;
    background-color: cadetblue;
    border-radius: 5px;
    width: 300px;
    bottom: 105%;
    left: 105%;
}

.explanation:hover .tooltip {
    visibility: visible;
}

h3 {
    display: inline-block;
}

#arrow {
    text-align: center;
    margin: 10px auto;
    font-size: xx-large;
}